html {
  margin: 0;
  padding: 0;
  cursor: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fireworks {
  height: 70vh
}